.bg-custom-dark {
    background-color: $brand-primary !important;
}
.bg-custom-light {
    background-color: $brand-secondary !important;
}
.bg-white {
    background-color: #fafafa;
}

.text-custom-dark {
    color: $brand-primary !important;
}
.text-custom-light {
    color: $brand-secondary !important;
}

.btn-primary {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $brand-primary;
    border-radius: 0%;
    border: 2px solid $brand-primary;

    &:hover, &:focus {
        border: solid 2px $brand-primary;
        background-color: $brand-white;
        color: $brand-primary;
    }
}

.badge-pill-top-right {
    top: 0px;
    right: 5px;
}

.card-job {
    &:hover {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3) !important;
    }
}

.nav-tabs {
    .nav-link {
        border-radius: 0%;
        border: 0;

        &.active {
            background-color: $brand-primary;
            color: #f8f9fa;
        }
    }
}

.card-filters {
    input {
        background-color: #e9ecef;
        color: $brand-primary;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 1.2rem;

        &::placeholder {
            font-weight: 500;
            font-size: 1.2rem;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: $brand-primary;
                border-color: $brand-primary; 
                color: white;
            }
        }

        .page-link {
            color: $brand-primary;

            &:focus {
                box-shadow: none;
            }
        }

        &:first-child, &:last-child {
            .page-link {
                border-radius: 0%;
            }
        }
    }
}

#dropdownSort {
    &.dropdown-toggle {
        &::after {
            display: inline-block !important;
            position: static !important;
            transform: translateY(30%) !important;
        }
    }
}

form {
    input[type='text'], input[type='email'], input[type='password'] {
        height: 34px;
    }

    .form-control {
        background-color: $brand-white;
        border: 0;
        border-radius: 0px;
        font-size: $font-size-base;
        color: $brand-primary;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
        padding-top: 20px;
        padding-bottom: 20px;

        &::-webkit-input-placeholder {
            color: rgba($brand-primary, 0.5);
        }

        &:focus, &:hover {
            box-shadow: 0 0 0 0.2rem rgba($brand-primary, 0.5);
        }
    }

    textarea {
        padding-top: 5px !important;

        &.form-control {
            max-width: 100%;
        }
    }

    .input-with-counter {
        position: relative;

        .input-counter {
            position: absolute;
            top: 10px;
            right: 5px;
            color: rgba($brand-primary, 0.5);
            font-size: $font-size-small;
        }
    }
}