.bg-custom-dark {
    background-color: $brand-primary !important;
}
.bg-custom-light {
    background-color: $brand-secondary !important;
}
.bg-white {
    background-color: #fafafa;
}

.text-custom-dark {
    color: $brand-primary !important;
}
.text-custom-light {
    color: $brand-secondary !important;
}

i {
    .search-button {
        color: $brand-primary;
    }
}

.btn {
    &:focus {
        box-shadow: none;
    }
}

.btn-primary {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $brand-primary;
    border-radius: 0%;
    border: 2px solid $brand-primary;

    &:hover, &:focus {
        border: solid 2px $brand-primary;
        background-color: $brand-white;
        color: $brand-primary;
        box-shadow: none;
    }
}

.badge-pill-top-right {
    top: 0px;
    right: 5px;
}

// breadcrumbs
.breadcrumb-item + .breadcrumb-item {
    &:before {
        font-size: $font-size-base * 1.5;
        line-height: 1.2;
    }
}

.card-job {
    &:hover {
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3) !important;
    }

    .card-body {
        a {
           color: $brand-primary;
            font-weight: $font-weight-bold;
            position: relative;
            display: inline-block;

            &:after {
                content: '';
                width: 100%;
                height: 1px;
                background-color: $brand-primary;
                position: absolute;
                bottom: 1px;
                right: 0;
                transition: all 0.3s;
            }

            &:hover, &:focus {
                color: rgba($brand-primary, 0.8);
                &:after {
                    width: 0;
                    background-color: transparent;
                }
            }
        }
    }
}

.nav-tabs {
    .nav-link {
        border-radius: 0%;
        border: 0;

        &.active {
            background-color: $brand-primary;
            color: #f8f9fa;
        }
    }
}

.card-filters {
    input {
        background-color: #e9ecef;
        color: $brand-primary;
        outline: none;
        border: none;
        font-weight: 500;
        font-size: 1.2rem;

        &::placeholder {
            font-weight: 500;
            font-size: 1.2rem;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: $brand-primary;
                border-color: $brand-primary; 
                color: white;
            }
        }

        .page-link {
            color: $brand-primary;

            &:focus {
                box-shadow: none;
            }
        }

        &:first-child, &:last-child {
            .page-link {
                border-radius: 0%;
            }
        }
    }
}

#dropdownSort {
    &.dropdown-toggle {
        &::after {
            display: inline-block !important;
            position: static !important;
            transform: translateY(30%) !important;
        }
    }
}

form {
    input[type='text'], input[type='email'], input[type='password'] {
        height: 34px;
    }

    label {
        color: $brand-primary;
        font-weight: 600;
    }

    .form-control {
        background-color: $brand-white;
        border: 0;
        border-radius: 0px;
        font-size: $font-size-base;
        color: $brand-primary;
        box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.3);
        padding-top: 20px;
        padding-bottom: 20px;

        &::-webkit-input-placeholder {
            color: rgba($brand-primary, 0.5);
        }

        &:focus, &:hover {
            box-shadow: 0 0 0 0.2rem rgba($brand-primary, 0.5);
        }
    }

    textarea {
        padding-top: 5px !important;

        &.form-control {
            max-width: 100%;
        }
    }

    .input-with-counter {
        position: relative;

        .input-counter {
            position: absolute;
            top: 10px;
            right: 5px;
            color: rgba($brand-primary, 0.5);
            font-size: $font-size-small;
        }
    }
}

// job page
.job-listings-wrapper {
    height: 54vh;
    overflow-y: auto;

    .card {
       &:first-child {
            margin-top: 0 !important;
       }
    }
}

.spinner-border {
    color: $brand-primary;

    &.spinner-small {
        height: 20px;
        width: 20px;
        border-width: 0.2em;
        margin-top: 42px;
    }
}

.loading-wrapper {
    .spinner {
        margin: 100px auto 0;
        width: 70px;
        text-align: center;
    }

    .btn-spinner {
        margin: 0px auto 0;
        width: 70px;
        text-align: center;
    }
      
    .spinner > div, .btn-spinner > div {
        width: 18px;
        height: 18px;
        background-color: $brand-primary;
        
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    
    .spinner .bounce1, .btn-spinner .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }
    
    .spinner .bounce2, .btn-spinner .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

// .custom-scrollbar {
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        // background: #f1f1f1;
        background-color: darken($brand-secondary, 10%);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $brand-primary;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba($brand-primary, 0.8);
    }
// }


// animation
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }


// @include media-breakpoint-down(lg) { 
    
// }
