.bg-custom-dark {
    background-color: $custom-color-dark !important;
}
.bg-custom-light {
    background-color: $custom-color-light !important;
}

.text-custom-dark {
    color: $custom-color-dark !important;
}
.text-custom-light {
    color: $custom-color-light !important;
}

.badge-pill-top-right {
    top: 0px;
    right: 5px;
}

.card-job {
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
}

.nav-pills {
    .nav-link.active {
        background-color: $custom-color-dark;
        border-radius: 0%;
    }
}

.card-filters {
    input {
        background-color: #e9ecef;
        color: $custom-color-dark;
        outline: none;
        border: none;

        &::placeholder {
            font-weight: 600;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }
}

.pagination {
    .page-item {
        &.active {
            .page-link {
                background-color: $custom-color-dark;
                border-color: $custom-color-dark; 
                color: white;
            }
        }

        .page-link {
            color: $custom-color-dark;

            &:focus {
                box-shadow: none;
            }
        }

        &:first-child, &:last-child {
            .page-link {
                border-radius: 0%;
            }
        }
    }
}